In [1]:
from bs4 import BeautifulSoup
import requests
import pymongo
import pandas

In [2]:
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

In [3]:
db = client.imdb_db
collection = db.items

In [4]:
url = "https://www.imdb.com/chart/top?sort=rk,asc&mode=simple&page=1"
html = requests.get(url).text

In [5]:
soup = BeautifulSoup(html, "html.parser")

In [6]:
#print(soup.prettify())

In [7]:
data = soup.find_all("tbody", "lister-list")

In [8]:
data[0].find_all("td", class_="titleColumn")[1].text.strip().split("(")[1].split(")")[0]

'1972'

In [9]:

imdb_df = pandas.DataFrame(columns=["Title", "Rating", "Votes"])

In [10]:
for x in range(100):
    try:
        title = data[0].find_all("td", class_="titleColumn")[x].text.strip().split("\n")[1].strip()
        rating = data[0].find_all("td", class_="ratingColumn imdbRating")[x].strong.text
        vote = str(data[0].find_all("td", class_="ratingColumn imdbRating")[x].strong).split("on")[2].split("user")[0].strip()
        year = data[0].find_all("td", class_="titleColumn")[x].text.strip().split("(")[1].split(")")[0]
        print (title, rating, vote,year)
        imdb_data = {"Title": title, "Rating": rating, "Vote": vote, "Year": year}
        collection.insert_one(imdb_data)
    except Exception as e:
        raise e

The Shawshank Redemption 9.2 2,087,694 1994
The Godfather 9.2 1,432,674 1972
The Godfather: Part II 9.0 995,076 1974
The Dark Knight 9.0 2,054,153 2008
12 Angry Men 8.9 591,016 1957
Schindler's List 8.9 1,082,045 1993
The Lord of the Rings: The Return of the King 8.9 1,485,977 2003
Pulp Fiction 8.9 1,631,863 1994
The Good, the Bad and the Ugly 8.8 619,701 1966
Fight Club 8.8 1,669,125 1999
The Lord of the Rings: The Fellowship of the Ring 8.8 1,502,017 2001
Forrest Gump 8.7 1,600,711 1994
Star Wars: Episode V - The Empire Strikes Back 8.7 1,046,951 1980
Inception 8.7 1,829,095 2010
Avengers: Endgame 8.7 379,534 2019
The Lord of the Rings: The Two Towers 8.7 1,343,565 2002
One Flew Over the Cuckoo's Nest 8.7 827,187 1975
Goodfellas 8.7 900,958 1990
The Matrix 8.6 1,499,062 1999
Seven Samurai 8.6 282,144 1954
Se7en 8.6 1,279,980 1995
City of God 8.6 641,437 2002
Star Wars: Episode IV - A New Hope 8.6 1,116,269 1977
The Silence of the Lambs 8.6 1,126,763 1991
It's a Wonderful Life 8.6 355,246 1946
Life Is Beautiful 8.6 549,417 1997
Spirited Away 8.5 553,782 2001
Saving Private Ryan 8.5 1,103,693 1998
The Usual Suspects 8.5 902,671 1995
Léon: The Professional 8.5 919,818 1994
The Green Mile 8.5 1,008,621 1999
Interstellar 8.5 1,288,162 2014
Psycho 8.5 534,679 1960
American History X 8.5 946,889 1998
City Lights 8.5 145,963 1931
Casablanca 8.5 474,004 1942
Once Upon a Time in the West 8.5 269,924 1968
The Pianist 8.5 638,564 2002
Modern Times 8.5 189,138 1936
The Intouchables 8.5 671,781 2011
The Departed 8.5 1,070,115 2006
Back to the Future 8.5 930,087 1985
Terminator 2: Judgment Day 8.5 903,039 1991
Whiplash 8.5 610,975 2014
The Lion King 8.5 829,380 1994
Rear Window 8.5 396,680 1954
Raiders of the Lost Ark 8.5 807,876 1981
Gladiator 8.5 1,205,700 2000
The Prestige 8.5 1,059,401 2006
Apocalypse Now 8.4 545,575 1979
Memento 8.4 1,026,520 2000
Alien 8.4 710,103 1979
Spider-Man: Into the Spider-Verse 8.4 197,161 2018
Grave of the Fireflies 8.4 194,818 1988
Cinema Paradiso 8.4 200,018 1988
The Great Dictator 8.4 179,359 1940
Sunset Blvd. 8.4 178,074 1950
The Lives of Others 8.4 321,172 2006
Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb 8.4 412,966 1964
Avengers: Infinity War 8.4 653,832 2018
Paths of Glory 8.4 155,427 1957
Django Unchained 8.4 1,203,432 2012
The Shining 8.4 776,574 1980
WALL·E 8.4 901,054 2008
Princess Mononoke 8.4 292,527 1997
Witness for the Prosecution 8.4 91,195 1957
Oldeuboi 8.3 456,125 2003
Aliens 8.3 597,803 1986
The Dark Knight Rises 8.3 1,380,225 2012
American Beauty 8.3 986,384 1999
Once Upon a Time in America 8.3 275,766 1984
Coco 8.3 271,720 2017
Das Boot 8.3 208,506 1981
Citizen Kane 8.3 361,830 1941
Braveheart 8.3 887,564 1995
Vertigo 8.3 318,624 1958
North by Northwest 8.3 270,400 1959
Reservoir Dogs 8.3 819,067 1992
Your Name. 8.3 131,444 2016
Star Wars: Episode VI - Return of the Jedi 8.3 857,562 1983
M 8.3 126,814 1931
Amadeus 8.3 335,073 1984
Requiem for a Dream 8.3 696,886 2000
Dangal 8.3 120,708 2016
3 Idiots 8.3 297,804 2009
2001: A Space Odyssey 8.3 539,476 1968
Toy Story 8.3 787,711 1995
Taare Zameen Par 8.3 140,340 2007
Eternal Sunshine of the Spotless Mind 8.3 821,203 2004
Lawrence of Arabia 8.3 240,821 1962
A Clockwork Orange 8.3 685,630 1971
Singin' in the Rain 8.3 195,485 1952
Amélie 8.3 649,022 2001
Double Indemnity 8.3 126,978 1944
Inglourious Basterds 8.3 1,112,898 2009
Taxi Driver 8.3 633,289 1976
Full Metal Jacket 8.3 606,313 1987
To Kill a Mockingbird 8.3 270,454 1962
Bicycle Thieves 8.3 126,316 1948
Good Will Hunting 8.3 762,347 1997

In [11]:
listings = db.items.find()

for listing in listings:
    print(listing)

{'_id': ObjectId('5cdb453dc74ef504f6587709'), 'Title': 'The Shawshank Redemption', 'Rating': '9.2', 'Vote': '2,087,694', 'Year': '1994'}
{'_id': ObjectId('5cdb453ec74ef504f658770a'), 'Title': 'The Godfather', 'Rating': '9.2', 'Vote': '1,432,674', 'Year': '1972'}
{'_id': ObjectId('5cdb453ec74ef504f658770b'), 'Title': 'The Godfather: Part II', 'Rating': '9.0', 'Vote': '995,076', 'Year': '1974'}
{'_id': ObjectId('5cdb453ec74ef504f658770c'), 'Title': 'The Dark Knight', 'Rating': '9.0', 'Vote': '2,054,153', 'Year': '2008'}
{'_id': ObjectId('5cdb453ec74ef504f658770d'), 'Title': '12 Angry Men', 'Rating': '8.9', 'Vote': '591,016', 'Year': '1957'}
{'_id': ObjectId('5cdb453fc74ef504f658770e'), 'Title': "Schindler's List", 'Rating': '8.9', 'Vote': '1,082,045', 'Year': '1993'}
{'_id': ObjectId('5cdb453fc74ef504f658770f'), 'Title': 'The Lord of the Rings: The Return of the King', 'Rating': '8.9', 'Vote': '1,485,977', 'Year': '2003'}
{'_id': ObjectId('5cdb453fc74ef504f6587710'), 'Title': 'Pulp Fiction', 'Rating': '8.9', 'Vote': '1,631,863', 'Year': '1994'}
{'_id': ObjectId('5cdb4540c74ef504f6587711'), 'Title': 'The Good, the Bad and the Ugly', 'Rating': '8.8', 'Vote': '619,701', 'Year': '1966'}
{'_id': ObjectId('5cdb4540c74ef504f6587712'), 'Title': 'Fight Club', 'Rating': '8.8', 'Vote': '1,669,125', 'Year': '1999'}
{'_id': ObjectId('5cdb4540c74ef504f6587713'), 'Title': 'The Lord of the Rings: The Fellowship of the Ring', 'Rating': '8.8', 'Vote': '1,502,017', 'Year': '2001'}
{'_id': ObjectId('5cdb4541c74ef504f6587714'), 'Title': 'Forrest Gump', 'Rating': '8.7', 'Vote': '1,600,711', 'Year': '1994'}
{'_id': ObjectId('5cdb4541c74ef504f6587715'), 'Title': 'Star Wars: Episode V - The Empire Strikes Back', 'Rating': '8.7', 'Vote': '1,046,951', 'Year': '1980'}
{'_id': ObjectId('5cdb4541c74ef504f6587716'), 'Title': 'Inception', 'Rating': '8.7', 'Vote': '1,829,095', 'Year': '2010'}
{'_id': ObjectId('5cdb4542c74ef504f6587717'), 'Title': 'Avengers: Endgame', 'Rating': '8.7', 'Vote': '379,534', 'Year': '2019'}
{'_id': ObjectId('5cdb4542c74ef504f6587718'), 'Title': 'The Lord of the Rings: The Two Towers', 'Rating': '8.7', 'Vote': '1,343,565', 'Year': '2002'}
{'_id': ObjectId('5cdb4542c74ef504f6587719'), 'Title': "One Flew Over the Cuckoo's Nest", 'Rating': '8.7', 'Vote': '827,187', 'Year': '1975'}
{'_id': ObjectId('5cdb4543c74ef504f658771a'), 'Title': 'Goodfellas', 'Rating': '8.7', 'Vote': '900,958', 'Year': '1990'}
{'_id': ObjectId('5cdb4543c74ef504f658771b'), 'Title': 'The Matrix', 'Rating': '8.6', 'Vote': '1,499,062', 'Year': '1999'}
{'_id': ObjectId('5cdb4543c74ef504f658771c'), 'Title': 'Seven Samurai', 'Rating': '8.6', 'Vote': '282,144', 'Year': '1954'}
{'_id': ObjectId('5cdb4544c74ef504f658771d'), 'Title': 'Se7en', 'Rating': '8.6', 'Vote': '1,279,980', 'Year': '1995'}
{'_id': ObjectId('5cdb4544c74ef504f658771e'), 'Title': 'City of God', 'Rating': '8.6', 'Vote': '641,437', 'Year': '2002'}
{'_id': ObjectId('5cdb4545c74ef504f658771f'), 'Title': 'Star Wars: Episode IV - A New Hope', 'Rating': '8.6', 'Vote': '1,116,269', 'Year': '1977'}
{'_id': ObjectId('5cdb4545c74ef504f6587720'), 'Title': 'The Silence of the Lambs', 'Rating': '8.6', 'Vote': '1,126,763', 'Year': '1991'}
{'_id': ObjectId('5cdb4545c74ef504f6587721'), 'Title': "It's a Wonderful Life", 'Rating': '8.6', 'Vote': '355,246', 'Year': '1946'}
{'_id': ObjectId('5cdb4546c74ef504f6587722'), 'Title': 'Life Is Beautiful', 'Rating': '8.6', 'Vote': '549,417', 'Year': '1997'}
{'_id': ObjectId('5cdb4546c74ef504f6587723'), 'Title': 'Spirited Away', 'Rating': '8.5', 'Vote': '553,782', 'Year': '2001'}
{'_id': ObjectId('5cdb4547c74ef504f6587724'), 'Title': 'Saving Private Ryan', 'Rating': '8.5', 'Vote': '1,103,693', 'Year': '1998'}
{'_id': ObjectId('5cdb4547c74ef504f6587725'), 'Title': 'The Usual Suspects', 'Rating': '8.5', 'Vote': '902,671', 'Year': '1995'}
{'_id': ObjectId('5cdb4548c74ef504f6587726'), 'Title': 'Léon: The Professional', 'Rating': '8.5', 'Vote': '919,818', 'Year': '1994'}
{'_id': ObjectId('5cdb4548c74ef504f6587727'), 'Title': 'The Green Mile', 'Rating': '8.5', 'Vote': '1,008,621', 'Year': '1999'}
{'_id': ObjectId('5cdb4548c74ef504f6587728'), 'Title': 'Interstellar', 'Rating': '8.5', 'Vote': '1,288,162', 'Year': '2014'}
{'_id': ObjectId('5cdb4549c74ef504f6587729'), 'Title': 'Psycho', 'Rating': '8.5', 'Vote': '534,679', 'Year': '1960'}
{'_id': ObjectId('5cdb4549c74ef504f658772a'), 'Title': 'American History X', 'Rating': '8.5', 'Vote': '946,889', 'Year': '1998'}
{'_id': ObjectId('5cdb454ac74ef504f658772b'), 'Title': 'City Lights', 'Rating': '8.5', 'Vote': '145,963', 'Year': '1931'}
{'_id': ObjectId('5cdb454ac74ef504f658772c'), 'Title': 'Casablanca', 'Rating': '8.5', 'Vote': '474,004', 'Year': '1942'}
{'_id': ObjectId('5cdb454bc74ef504f658772d'), 'Title': 'Once Upon a Time in the West', 'Rating': '8.5', 'Vote': '269,924', 'Year': '1968'}
{'_id': ObjectId('5cdb454bc74ef504f658772e'), 'Title': 'The Pianist', 'Rating': '8.5', 'Vote': '638,564', 'Year': '2002'}
{'_id': ObjectId('5cdb454cc74ef504f658772f'), 'Title': 'Modern Times', 'Rating': '8.5', 'Vote': '189,138', 'Year': '1936'}
{'_id': ObjectId('5cdb454cc74ef504f6587730'), 'Title': 'The Intouchables', 'Rating': '8.5', 'Vote': '671,781', 'Year': '2011'}
{'_id': ObjectId('5cdb454cc74ef504f6587731'), 'Title': 'The Departed', 'Rating': '8.5', 'Vote': '1,070,115', 'Year': '2006'}
{'_id': ObjectId('5cdb454dc74ef504f6587732'), 'Title': 'Back to the Future', 'Rating': '8.5', 'Vote': '930,087', 'Year': '1985'}
{'_id': ObjectId('5cdb454dc74ef504f6587733'), 'Title': 'Terminator 2: Judgment Day', 'Rating': '8.5', 'Vote': '903,039', 'Year': '1991'}
{'_id': ObjectId('5cdb454ec74ef504f6587734'), 'Title': 'Whiplash', 'Rating': '8.5', 'Vote': '610,975', 'Year': '2014'}
{'_id': ObjectId('5cdb454ec74ef504f6587735'), 'Title': 'The Lion King', 'Rating': '8.5', 'Vote': '829,380', 'Year': '1994'}
{'_id': ObjectId('5cdb454fc74ef504f6587736'), 'Title': 'Rear Window', 'Rating': '8.5', 'Vote': '396,680', 'Year': '1954'}
{'_id': ObjectId('5cdb454fc74ef504f6587737'), 'Title': 'Raiders of the Lost Ark', 'Rating': '8.5', 'Vote': '807,876', 'Year': '1981'}
{'_id': ObjectId('5cdb454fc74ef504f6587738'), 'Title': 'Gladiator', 'Rating': '8.5', 'Vote': '1,205,700', 'Year': '2000'}
{'_id': ObjectId('5cdb4550c74ef504f6587739'), 'Title': 'The Prestige', 'Rating': '8.5', 'Vote': '1,059,401', 'Year': '2006'}
{'_id': ObjectId('5cdb4550c74ef504f658773a'), 'Title': 'Apocalypse Now', 'Rating': '8.4', 'Vote': '545,575', 'Year': '1979'}
{'_id': ObjectId('5cdb4551c74ef504f658773b'), 'Title': 'Memento', 'Rating': '8.4', 'Vote': '1,026,520', 'Year': '2000'}
{'_id': ObjectId('5cdb4551c74ef504f658773c'), 'Title': 'Alien', 'Rating': '8.4', 'Vote': '710,103', 'Year': '1979'}
{'_id': ObjectId('5cdb4552c74ef504f658773d'), 'Title': 'Spider-Man: Into the Spider-Verse', 'Rating': '8.4', 'Vote': '197,161', 'Year': '2018'}
{'_id': ObjectId('5cdb4552c74ef504f658773e'), 'Title': 'Grave of the Fireflies', 'Rating': '8.4', 'Vote': '194,818', 'Year': '1988'}
{'_id': ObjectId('5cdb4552c74ef504f658773f'), 'Title': 'Cinema Paradiso', 'Rating': '8.4', 'Vote': '200,018', 'Year': '1988'}
{'_id': ObjectId('5cdb4553c74ef504f6587740'), 'Title': 'The Great Dictator', 'Rating': '8.4', 'Vote': '179,359', 'Year': '1940'}
{'_id': ObjectId('5cdb4553c74ef504f6587741'), 'Title': 'Sunset Blvd.', 'Rating': '8.4', 'Vote': '178,074', 'Year': '1950'}
{'_id': ObjectId('5cdb4554c74ef504f6587742'), 'Title': 'The Lives of Others', 'Rating': '8.4', 'Vote': '321,172', 'Year': '2006'}
{'_id': ObjectId('5cdb4554c74ef504f6587743'), 'Title': 'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb', 'Rating': '8.4', 'Vote': '412,966', 'Year': '1964'}
{'_id': ObjectId('5cdb4555c74ef504f6587744'), 'Title': 'Avengers: Infinity War', 'Rating': '8.4', 'Vote': '653,832', 'Year': '2018'}
{'_id': ObjectId('5cdb4555c74ef504f6587745'), 'Title': 'Paths of Glory', 'Rating': '8.4', 'Vote': '155,427', 'Year': '1957'}
{'_id': ObjectId('5cdb4556c74ef504f6587746'), 'Title': 'Django Unchained', 'Rating': '8.4', 'Vote': '1,203,432', 'Year': '2012'}
{'_id': ObjectId('5cdb4556c74ef504f6587747'), 'Title': 'The Shining', 'Rating': '8.4', 'Vote': '776,574', 'Year': '1980'}
{'_id': ObjectId('5cdb4556c74ef504f6587748'), 'Title': 'WALL·E', 'Rating': '8.4', 'Vote': '901,054', 'Year': '2008'}
{'_id': ObjectId('5cdb4557c74ef504f6587749'), 'Title': 'Princess Mononoke', 'Rating': '8.4', 'Vote': '292,527', 'Year': '1997'}
{'_id': ObjectId('5cdb4557c74ef504f658774a'), 'Title': 'Witness for the Prosecution', 'Rating': '8.4', 'Vote': '91,195', 'Year': '1957'}
{'_id': ObjectId('5cdb4558c74ef504f658774b'), 'Title': 'Oldeuboi', 'Rating': '8.3', 'Vote': '456,125', 'Year': '2003'}
{'_id': ObjectId('5cdb4558c74ef504f658774c'), 'Title': 'Aliens', 'Rating': '8.3', 'Vote': '597,803', 'Year': '1986'}
{'_id': ObjectId('5cdb4559c74ef504f658774d'), 'Title': 'The Dark Knight Rises', 'Rating': '8.3', 'Vote': '1,380,225', 'Year': '2012'}
{'_id': ObjectId('5cdb4559c74ef504f658774e'), 'Title': 'American Beauty', 'Rating': '8.3', 'Vote': '986,384', 'Year': '1999'}
{'_id': ObjectId('5cdb4559c74ef504f658774f'), 'Title': 'Once Upon a Time in America', 'Rating': '8.3', 'Vote': '275,766', 'Year': '1984'}
{'_id': ObjectId('5cdb455ac74ef504f6587750'), 'Title': 'Coco', 'Rating': '8.3', 'Vote': '271,720', 'Year': '2017'}
{'_id': ObjectId('5cdb455ac74ef504f6587751'), 'Title': 'Das Boot', 'Rating': '8.3', 'Vote': '208,506', 'Year': '1981'}
{'_id': ObjectId('5cdb455bc74ef504f6587752'), 'Title': 'Citizen Kane', 'Rating': '8.3', 'Vote': '361,830', 'Year': '1941'}
{'_id': ObjectId('5cdb455bc74ef504f6587753'), 'Title': 'Braveheart', 'Rating': '8.3', 'Vote': '887,564', 'Year': '1995'}
{'_id': ObjectId('5cdb455cc74ef504f6587754'), 'Title': 'Vertigo', 'Rating': '8.3', 'Vote': '318,624', 'Year': '1958'}
{'_id': ObjectId('5cdb455cc74ef504f6587755'), 'Title': 'North by Northwest', 'Rating': '8.3', 'Vote': '270,400', 'Year': '1959'}
{'_id': ObjectId('5cdb455cc74ef504f6587756'), 'Title': 'Reservoir Dogs', 'Rating': '8.3', 'Vote': '819,067', 'Year': '1992'}
{'_id': ObjectId('5cdb455dc74ef504f6587757'), 'Title': 'Your Name.', 'Rating': '8.3', 'Vote': '131,444', 'Year': '2016'}
{'_id': ObjectId('5cdb455dc74ef504f6587758'), 'Title': 'Star Wars: Episode VI - Return of the Jedi', 'Rating': '8.3', 'Vote': '857,562', 'Year': '1983'}
{'_id': ObjectId('5cdb455ec74ef504f6587759'), 'Title': 'M', 'Rating': '8.3', 'Vote': '126,814', 'Year': '1931'}
{'_id': ObjectId('5cdb455ec74ef504f658775a'), 'Title': 'Amadeus', 'Rating': '8.3', 'Vote': '335,073', 'Year': '1984'}
{'_id': ObjectId('5cdb455fc74ef504f658775b'), 'Title': 'Requiem for a Dream', 'Rating': '8.3', 'Vote': '696,886', 'Year': '2000'}
{'_id': ObjectId('5cdb455fc74ef504f658775c'), 'Title': 'Dangal', 'Rating': '8.3', 'Vote': '120,708', 'Year': '2016'}
{'_id': ObjectId('5cdb455fc74ef504f658775d'), 'Title': '3 Idiots', 'Rating': '8.3', 'Vote': '297,804', 'Year': '2009'}
{'_id': ObjectId('5cdb4560c74ef504f658775e'), 'Title': '2001: A Space Odyssey', 'Rating': '8.3', 'Vote': '539,476', 'Year': '1968'}
{'_id': ObjectId('5cdb4560c74ef504f658775f'), 'Title': 'Toy Story', 'Rating': '8.3', 'Vote': '787,711', 'Year': '1995'}
{'_id': ObjectId('5cdb4561c74ef504f6587760'), 'Title': 'Taare Zameen Par', 'Rating': '8.3', 'Vote': '140,340', 'Year': '2007'}
{'_id': ObjectId('5cdb4561c74ef504f6587761'), 'Title': 'Eternal Sunshine of the Spotless Mind', 'Rating': '8.3', 'Vote': '821,203', 'Year': '2004'}
{'_id': ObjectId('5cdb4562c74ef504f6587762'), 'Title': 'Lawrence of Arabia', 'Rating': '8.3', 'Vote': '240,821', 'Year': '1962'}
{'_id': ObjectId('5cdb4562c74ef504f6587763'), 'Title': 'A Clockwork Orange', 'Rating': '8.3', 'Vote': '685,630', 'Year': '1971'}
{'_id': ObjectId('5cdb4562c74ef504f6587764'), 'Title': "Singin' in the Rain", 'Rating': '8.3', 'Vote': '195,485', 'Year': '1952'}
{'_id': ObjectId('5cdb4563c74ef504f6587765'), 'Title': 'Amélie', 'Rating': '8.3', 'Vote': '649,022', 'Year': '2001'}
{'_id': ObjectId('5cdb4563c74ef504f6587766'), 'Title': 'Double Indemnity', 'Rating': '8.3', 'Vote': '126,978', 'Year': '1944'}
{'_id': ObjectId('5cdb4564c74ef504f6587767'), 'Title': 'Inglourious Basterds', 'Rating': '8.3', 'Vote': '1,112,898', 'Year': '2009'}
{'_id': ObjectId('5cdb4564c74ef504f6587768'), 'Title': 'Taxi Driver', 'Rating': '8.3', 'Vote': '633,289', 'Year': '1976'}
{'_id': ObjectId('5cdb4565c74ef504f6587769'), 'Title': 'Full Metal Jacket', 'Rating': '8.3', 'Vote': '606,313', 'Year': '1987'}
{'_id': ObjectId('5cdb4565c74ef504f658776a'), 'Title': 'To Kill a Mockingbird', 'Rating': '8.3', 'Vote': '270,454', 'Year': '1962'}
{'_id': ObjectId('5cdb4566c74ef504f658776b'), 'Title': 'Bicycle Thieves', 'Rating': '8.3', 'Vote': '126,316', 'Year': '1948'}
{'_id': ObjectId('5cdb4566c74ef504f658776c'), 'Title': 'Good Will Hunting', 'Rating': '8.3', 'Vote': '762,347', 'Year': '1997'}

In [12]:
test = db.items
test = pandas.DataFrame(list(test.find()))

In [13]:
imdb_df = test[["Title", "Rating", "Vote", "Year"]]

imdb_df

                                                Title Rating       Vote  Year
0                            The Shawshank Redemption    9.2  2,087,694  1994
1                                       The Godfather    9.2  1,432,674  1972
2                              The Godfather: Part II    9.0    995,076  1974
3                                     The Dark Knight    9.0  2,054,153  2008
4                                        12 Angry Men    8.9    591,016  1957
5                                    Schindler's List    8.9  1,082,045  1993
6       The Lord of the Rings: The Return of the King    8.9  1,485,977  2003
7                                        Pulp Fiction    8.9  1,631,863  1994
8                      The Good, the Bad and the Ugly    8.8    619,701  1966
9                                          Fight Club    8.8  1,669,125  1999
10  The Lord of the Rings: The Fellowship of the Ring    8.8  1,502,017  2001
11                                       Forrest Gump    8.7  1,600,711  1994
12     Star Wars: Episode V - The Empire Strikes Back    8.7  1,046,951  1980
13                                          Inception    8.7  1,829,095  2010
14                                  Avengers: Endgame    8.7    379,534  2019
15              The Lord of the Rings: The Two Towers    8.7  1,343,565  2002
16                    One Flew Over the Cuckoo's Nest    8.7    827,187  1975
17                                         Goodfellas    8.7    900,958  1990
18                                         The Matrix    8.6  1,499,062  1999
19                                      Seven Samurai    8.6    282,144  1954
20                                              Se7en    8.6  1,279,980  1995
21                                        City of God    8.6    641,437  2002
22                 Star Wars: Episode IV - A New Hope    8.6  1,116,269  1977
23                           The Silence of the Lambs    8.6  1,126,763  1991
24                              It's a Wonderful Life    8.6    355,246  1946
25                                  Life Is Beautiful    8.6    549,417  1997
26                                      Spirited Away    8.5    553,782  2001
27                                Saving Private Ryan    8.5  1,103,693  1998
28                                 The Usual Suspects    8.5    902,671  1995
29                             Léon: The Professional    8.5    919,818  1994
..                                                ...    ...        ...   ...
70                        Once Upon a Time in America    8.3    275,766  1984
71                                               Coco    8.3    271,720  2017
72                                           Das Boot    8.3    208,506  1981
73                                       Citizen Kane    8.3    361,830  1941
74                                         Braveheart    8.3    887,564  1995
75                                            Vertigo    8.3    318,624  1958
76                                 North by Northwest    8.3    270,400  1959
77                                     Reservoir Dogs    8.3    819,067  1992
78                                         Your Name.    8.3    131,444  2016
79         Star Wars: Episode VI - Return of the Jedi    8.3    857,562  1983
80                                                  M    8.3    126,814  1931
81                                            Amadeus    8.3    335,073  1984
82                                Requiem for a Dream    8.3    696,886  2000
83                                             Dangal    8.3    120,708  2016
84                                           3 Idiots    8.3    297,804  2009
85                              2001: A Space Odyssey    8.3    539,476  1968
86                                          Toy Story    8.3    787,711  1995
87                                   Taare Zameen Par    8.3    140,340  2007
88              Eternal Sunshine of the Spotless Mind    8.3    821,203  2004
89                                 Lawrence of Arabia    8.3    240,821  1962
90                                 A Clockwork Orange    8.3    685,630  1971
91                                Singin' in the Rain    8.3    195,485  1952
92                                             Amélie    8.3    649,022  2001
93                                   Double Indemnity    8.3    126,978  1944
94                               Inglourious Basterds    8.3  1,112,898  2009
95                                        Taxi Driver    8.3    633,289  1976
96                                  Full Metal Jacket    8.3    606,313  1987
97                              To Kill a Mockingbird    8.3    270,454  1962
98                                    Bicycle Thieves    8.3    126,316  1948
99                                  Good Will Hunting    8.3    762,347  1997

[100 rows x 4 columns]

In [14]:
imdb_df.head()

                      Title Rating       Vote  Year
0  The Shawshank Redemption    9.2  2,087,694  1994
1             The Godfather    9.2  1,432,674  1972
2    The Godfather: Part II    9.0    995,076  1974
3           The Dark Knight    9.0  2,054,153  2008
4              12 Angry Men    8.9    591,016  1957

RottenTomatoes_Scrape

In [15]:
url = "https://www.rottentomatoes.com/top/bestofrt/"
html = requests.get(url).text

In [16]:
db = client.rt_db
collection = db.items1

In [17]:
soup = BeautifulSoup(html, "html.parser")

In [18]:
datas = soup.find_all("table", "table")

In [19]:
#str(data.find_all("a", class_ = "unstyled articleLink")[x].text.strip()).split("(")[0]

In [20]:
#str(datas[0].find_all("a", class_ = "unstyled articleLink")[x].text.strip()).split("(")[1][:4]

In [21]:
for data in datas:
    for x in range(100):
        title=str(data.find_all("a", class_ = "unstyled articleLink")[x].text.strip()).split("(")[0]
        rating=data.find_all("span", class_="tMeterScore")[x].text
        vote=data.find_all("td", class_="right hidden-xs")[x].text
        year=str(datas[0].find_all("a", class_ = "unstyled articleLink")[x].text.strip()).split("(")[1][:4]
        print(title, rating, vote, year)
        RT_data = {"Title": title, "Rating": rating, "Vote": vote, "Year": year}
        collection.insert_one(RT_data)

Black Panther   97% 465 2018
Lady Bird   99% 361 2017
The Wizard of Oz   98% 111 1939
Citizen Kane   100% 80 1941
BlacKkKlansman   96% 394 2018
Get Out   98% 349 2017
Mad Max: Fury Road   97% 403 2015
The Third Man   99% 78 1949
Moonlight   98% 353 2016
Inside Out   98% 353 2015
Wonder Woman   93% 425 2017
Eighth Grade   99% 278 2018
The Cabinet of Dr. Caligari   100% 50 Das
Metropolis   99% 122 1927
All About Eve   100% 66 1950
E.T. The Extra-Terrestrial   98% 125 1982
It Happened One Night   98% 56 1934
Coco   97% 320 2017
Dunkirk   92% 427 2017
A Quiet Place   95% 348 2018
Spotlight   97% 353 2015
Selma   99% 296 2015
Modern Times   100% 54 1936
Casablanca   97% 79 1942
Star Wars: The Last Jedi   91% 436 2017
The Godfather   98% 90 1972
Paddington 2   100% 228 2018
Arrival   94% 399 2016
The Big Sick   98% 280 2017
La Grande illusion   97% 66 Gran
Thor: Ragnarok   93% 387 2017
The Shape of Water   92% 407 2017
Call Me by Your Name   95% 328 2018
Logan   93% 384 2017
Incredibles 2   94% 346 2018
Psycho   97% 90 1960
Singin' in the Rain   100% 50 1952
Leave No Trace   100% 215 2018
Laura   100% 60 1944
Gravity   96% 339 2013
Boyhood   97% 304 2014
A Hard Day's Night   98% 106 1964
The Maltese Falcon   100% 53 1941
Argo   96% 344 2012
Manchester by the Sea   96% 325 2016
12 Years a Slave   95% 352 2013
The Adventures of Robin Hood   100% 46 1938
Snow White and the Seven Dwarfs   98% 48 1937
King Kong   98% 56 1933
Nosferatu, a Symphony of Horror   97% 62 Nosf
Repulsion   100% 60 1965
Sunset Boulevard   98% 62 1950
North by Northwest   99% 73 1959
Rear Window   100% 65 1954
Baby Driver   93% 352 2017
The Bride of Frankenstein   100% 43 1935
The Florida Project   96% 285 2017
Star Wars: Episode VII - The Force Awakens   92% 413 2015
The Battle of Algiers   98% 85 La B
Alien   97% 115 1979
La La Land   91% 423 2016
Bicycle Thieves   98% 58 Ladr
Spider-Man: Homecoming   92% 363 2017
The Philadelphia Story   100% 57 1940
Won't You Be My Neighbor?   98% 223 2018
Touch of Evil   96% 76 1958
Zootopia   97% 275 2016
Toy Story 2   100% 165 1999
Up   98% 291 2009
Seven Samurai   100% 59 Shic
M   100% 51 1931
All Quiet on the Western Front   100% 43 1930
Hell or High Water   97% 265 2016
War for the Planet of the Apes   93% 331 2017
The Jungle Book   95% 312 2016
Taxi Driver   98% 82 1976
Toy Story 3   98% 302 2010
Rebecca   100% 53 1940
The Treasure of the Sierra Madre   100% 46 1948
The 400 Blows   100% 57 Les
Vertigo   96% 72 1958
Lawrence of Arabia   98% 82 1962
The Dark Knight   94% 332 2008
Brooklyn   97% 263 2015
The Babadook   98% 228 2014
12 Angry Men   100% 50 Twel
Finding Nemo   99% 263 2003
The Night of the Hunter   98% 65 1955
A Streetcar Named Desire   98% 55 1951
Captain America: Civil War   91% 393 2016
Army of Shadows   97% 73 L'Ar
Rosemary's Baby   99% 69 1968
Frankenstein   100% 46 1931
Finding Dory   94% 317 2016
The Wrestler   98% 225 2008
Pinocchio   100% 48 1940
Three Billboards Outside Ebbing, Missouri   90% 375 2017
The Big Sleep   97% 60 1946
Harry Potter and the Deathly Hallows - Part 2   96% 324 2011
Dr. Strangelove Or How I Learned to Stop Worrying and Love the Bomb   98% 81 1964

In [22]:
RT1 = db.items1
rt_df = pandas.DataFrame(list(RT1.find()))

In [23]:
rt_df = rt_df[["Title", "Rating", "Vote", "Year"]]
rt_df.head()

               Title Rating Vote  Year
0     Black Panther     97%  465  2018
1         Lady Bird     99%  361  2017
2  The Wizard of Oz     98%  111  1939
3      Citizen Kane    100%   80  1941
4    BlacKkKlansman     96%  394  2018

In [24]:
df_all = imdb_df.join(rt_df, how="outer", lsuffix="(imdb)", rsuffix="(rt)")
df_all.head()

,Title(imdb),Rating(imdb),Vote(imdb),Year(imdb),Title(rt),Rating(rt),Vote(rt),Year(rt)
0,The Shawshank Redemption,9.2,"2,087,694",1994,Black Panther,97%,465,2018
1,The Godfather,9.2,"1,432,674",1972,Lady Bird,99%,361,2017
2,The Godfather: Part II,9.0,"995,076",1974,The Wizard of Oz,98%,111,1939
3,The Dark Knight,9.0,"2,054,153",2008,Citizen Kane,100%,80,1941
4,12 Angry Men,8.9,"591,016",1957,BlacKkKlansman,96%,394,2018

#insert final to record_db

In [33]:
db = client.record_db
collection = db.item

In [34]:
collection.insert_many(df_all.to_dict('record'))