In [103]:
from bs4 import BeautifulSoup
import requests
import pymongo
import pandas

In [104]:
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

In [105]:
db = client.imdb_db
collection = db.items

In [106]:
url = "https://www.imdb.com/chart/top?sort=rk,asc&mode=simple&page=1"
html = requests.get(url).text

In [107]:
soup = BeautifulSoup(html, "html.parser")

In [108]:
#print(soup.prettify())

In [109]:
data = soup.find_all("tbody", "lister-list")

In [110]:

imdb_df = pandas.DataFrame(columns=["Title", "Rating", "Votes"])

In [111]:
for x in range(100):
    try:
        title = data[0].find_all("td", class_="titleColumn")[x].text.strip().split("\n")[1].strip()
        rating = data[0].find_all("td", class_="ratingColumn imdbRating")[x].strong.text
        vote = str(data[0].find_all("td", class_="ratingColumn imdbRating")[x].strong).split("on")[2].split("user")[0].strip()
        print (title, rating, vote)
        imdb_data = {"Title": title, "Rating": rating, "Vote": vote}
        collection.insert_one(imdb_data)
    except Exception as e:
        raise e

The Shawshank Redemption 9.2 2,085,517
The Godfather 9.2 1,431,146
The Godfather: Part II 9.0 993,902
The Dark Knight 9.0 2,052,032
12 Angry Men 8.9 590,239
Schindler's List 8.9 1,080,920
The Lord of the Rings: The Return of the King 8.9 1,484,376
Pulp Fiction 8.9 1,630,151
The Good, the Bad and the Ugly 8.8 619,067
Fight Club 8.8 1,667,489
The Lord of the Rings: The Fellowship of the Ring 8.8 1,500,415
Avengers: Endgame 8.7 351,352
Forrest Gump 8.7 1,598,825
Star Wars: Episode V - The Empire Strikes Back 8.7 1,045,935
Inception 8.7 1,827,160
The Lord of the Rings: The Two Towers 8.7 1,342,097
One Flew Over the Cuckoo's Nest 8.7 826,482
Goodfellas 8.7 900,052
The Matrix 8.6 1,497,375
Seven Samurai 8.6 281,879
Se7en 8.6 1,278,663
City of God 8.6 640,924
Star Wars: Episode IV - A New Hope 8.6 1,115,283
The Silence of the Lambs 8.6 1,125,490
It's a Wonderful Life 8.6 354,949
Life Is Beautiful 8.6 548,830
Spirited Away 8.5 553,154
Saving Private Ryan 8.5 1,102,488
The Usual Suspects 8.5 901,931
Léon: The Professional 8.5 918,760
The Green Mile 8.5 1,007,367
Interstellar 8.5 1,286,338
Psycho 8.5 534,132
American History X 8.5 946,160
City Lights 8.5 145,812
Casablanca 8.5 473,662
Once Upon a Time in the West 8.5 269,706
The Pianist 8.5 637,826
Modern Times 8.5 188,938
The Intouchables 8.5 670,957
The Departed 8.5 1,069,186
Back to the Future 8.5 928,993
Terminator 2: Judgment Day 8.5 902,197
Whiplash 8.5 610,151
The Lion King 8.5 828,486
Rear Window 8.5 396,337
Raiders of the Lost Ark 8.5 807,162
Gladiator 8.5 1,204,471
The Prestige 8.5 1,058,354
Apocalypse Now 8.4 545,115
Memento 8.4 1,025,769
Alien 8.4 709,445
Spider-Man: Into the Spider-Verse 8.4 193,782
Grave of the Fireflies 8.4 194,593
Cinema Paradiso 8.4 199,836
The Great Dictator 8.4 179,188
Sunset Blvd. 8.4 177,955
The Lives of Others 8.4 320,953
Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb 8.4 412,673
Avengers: Infinity War 8.4 648,760
Paths of Glory 8.4 155,293
Django Unchained 8.4 1,202,300
The Shining 8.4 775,742
WALL·E 8.4 900,215
Princess Mononoke 8.4 292,237
Witness for the Prosecution 8.4 91,087
Oldeuboi 8.3 455,706
Aliens 8.3 597,347
The Dark Knight Rises 8.3 1,379,024
American Beauty 8.3 985,758
Once Upon a Time in America 8.3 275,539
Coco 8.3 270,831
Das Boot 8.3 208,353
Citizen Kane 8.3 361,613
Braveheart 8.3 886,944
Vertigo 8.3 318,375
North by Northwest 8.3 270,226
Reservoir Dogs 8.3 818,328
Your Name. 8.3 130,960
Star Wars: Episode VI - Return of the Jedi 8.3 856,822
M 8.3 126,729
Amadeus 8.3 334,835
Requiem for a Dream 8.3 696,389
Dangal 8.3 120,430
3 Idiots 8.3 297,433
2001: A Space Odyssey 8.3 539,011
Toy Story 8.3 786,948
Taare Zameen Par 8.3 140,113
Eternal Sunshine of the Spotless Mind 8.3 820,543
Lawrence of Arabia 8.3 240,633
A Clockwork Orange 8.3 685,043
Singin' in the Rain 8.3 195,361
Amélie 8.3 648,617
Double Indemnity 8.3 126,872
Inglourious Basterds 8.3 1,111,840
Taxi Driver 8.3 632,734
Full Metal Jacket 8.3 605,750
To Kill a Mockingbird 8.3 270,300
Bicycle Thieves 8.3 126,200
The Kid 8.3 95,957

In [112]:
listings = db.items.find()

for listing in listings:
    print(listing)

{'_id': ObjectId('5cd3bf384f0dbe3527ac3d6d'), 'Title': 'The Shawshank Redemption', 'Rating': '9.2', 'Vote': '2,085,517'}
{'_id': ObjectId('5cd3bf384f0dbe3527ac3d6e'), 'Title': 'The Godfather', 'Rating': '9.2', 'Vote': '1,431,146'}
{'_id': ObjectId('5cd3bf384f0dbe3527ac3d6f'), 'Title': 'The Godfather: Part II', 'Rating': '9.0', 'Vote': '993,902'}
{'_id': ObjectId('5cd3bf384f0dbe3527ac3d70'), 'Title': 'The Dark Knight', 'Rating': '9.0', 'Vote': '2,052,032'}
{'_id': ObjectId('5cd3bf394f0dbe3527ac3d71'), 'Title': '12 Angry Men', 'Rating': '8.9', 'Vote': '590,239'}
{'_id': ObjectId('5cd3bf394f0dbe3527ac3d72'), 'Title': "Schindler's List", 'Rating': '8.9', 'Vote': '1,080,920'}
{'_id': ObjectId('5cd3bf394f0dbe3527ac3d73'), 'Title': 'The Lord of the Rings: The Return of the King', 'Rating': '8.9', 'Vote': '1,484,376'}
{'_id': ObjectId('5cd3bf394f0dbe3527ac3d74'), 'Title': 'Pulp Fiction', 'Rating': '8.9', 'Vote': '1,630,151'}
{'_id': ObjectId('5cd3bf394f0dbe3527ac3d75'), 'Title': 'The Good, the Bad and the Ugly', 'Rating': '8.8', 'Vote': '619,067'}
{'_id': ObjectId('5cd3bf394f0dbe3527ac3d76'), 'Title': 'Fight Club', 'Rating': '8.8', 'Vote': '1,667,489'}
{'_id': ObjectId('5cd3bf394f0dbe3527ac3d77'), 'Title': 'The Lord of the Rings: The Fellowship of the Ring', 'Rating': '8.8', 'Vote': '1,500,415'}
{'_id': ObjectId('5cd3bf394f0dbe3527ac3d78'), 'Title': 'Avengers: Endgame', 'Rating': '8.7', 'Vote': '351,352'}
{'_id': ObjectId('5cd3bf394f0dbe3527ac3d79'), 'Title': 'Forrest Gump', 'Rating': '8.7', 'Vote': '1,598,825'}
{'_id': ObjectId('5cd3bf394f0dbe3527ac3d7a'), 'Title': 'Star Wars: Episode V - The Empire Strikes Back', 'Rating': '8.7', 'Vote': '1,045,935'}
{'_id': ObjectId('5cd3bf3a4f0dbe3527ac3d7b'), 'Title': 'Inception', 'Rating': '8.7', 'Vote': '1,827,160'}
{'_id': ObjectId('5cd3bf3a4f0dbe3527ac3d7c'), 'Title': 'The Lord of the Rings: The Two Towers', 'Rating': '8.7', 'Vote': '1,342,097'}
{'_id': ObjectId('5cd3bf3a4f0dbe3527ac3d7d'), 'Title': "One Flew Over the Cuckoo's Nest", 'Rating': '8.7', 'Vote': '826,482'}
{'_id': ObjectId('5cd3bf3a4f0dbe3527ac3d7e'), 'Title': 'Goodfellas', 'Rating': '8.7', 'Vote': '900,052'}
{'_id': ObjectId('5cd3bf3a4f0dbe3527ac3d7f'), 'Title': 'The Matrix', 'Rating': '8.6', 'Vote': '1,497,375'}
{'_id': ObjectId('5cd3bf3a4f0dbe3527ac3d80'), 'Title': 'Seven Samurai', 'Rating': '8.6', 'Vote': '281,879'}
{'_id': ObjectId('5cd3bf3a4f0dbe3527ac3d81'), 'Title': 'Se7en', 'Rating': '8.6', 'Vote': '1,278,663'}
{'_id': ObjectId('5cd3bf3a4f0dbe3527ac3d82'), 'Title': 'City of God', 'Rating': '8.6', 'Vote': '640,924'}
{'_id': ObjectId('5cd3bf3a4f0dbe3527ac3d83'), 'Title': 'Star Wars: Episode IV - A New Hope', 'Rating': '8.6', 'Vote': '1,115,283'}
{'_id': ObjectId('5cd3bf3b4f0dbe3527ac3d84'), 'Title': 'The Silence of the Lambs', 'Rating': '8.6', 'Vote': '1,125,490'}
{'_id': ObjectId('5cd3bf3b4f0dbe3527ac3d85'), 'Title': "It's a Wonderful Life", 'Rating': '8.6', 'Vote': '354,949'}
{'_id': ObjectId('5cd3bf3b4f0dbe3527ac3d86'), 'Title': 'Life Is Beautiful', 'Rating': '8.6', 'Vote': '548,830'}
{'_id': ObjectId('5cd3bf3b4f0dbe3527ac3d87'), 'Title': 'Spirited Away', 'Rating': '8.5', 'Vote': '553,154'}
{'_id': ObjectId('5cd3bf3b4f0dbe3527ac3d88'), 'Title': 'Saving Private Ryan', 'Rating': '8.5', 'Vote': '1,102,488'}
{'_id': ObjectId('5cd3bf3b4f0dbe3527ac3d89'), 'Title': 'The Usual Suspects', 'Rating': '8.5', 'Vote': '901,931'}
{'_id': ObjectId('5cd3bf3b4f0dbe3527ac3d8a'), 'Title': 'Léon: The Professional', 'Rating': '8.5', 'Vote': '918,760'}
{'_id': ObjectId('5cd3bf3b4f0dbe3527ac3d8b'), 'Title': 'The Green Mile', 'Rating': '8.5', 'Vote': '1,007,367'}
{'_id': ObjectId('5cd3bf3b4f0dbe3527ac3d8c'), 'Title': 'Interstellar', 'Rating': '8.5', 'Vote': '1,286,338'}
{'_id': ObjectId('5cd3bf3c4f0dbe3527ac3d8d'), 'Title': 'Psycho', 'Rating': '8.5', 'Vote': '534,132'}
{'_id': ObjectId('5cd3bf3c4f0dbe3527ac3d8e'), 'Title': 'American History X', 'Rating': '8.5', 'Vote': '946,160'}
{'_id': ObjectId('5cd3bf3c4f0dbe3527ac3d8f'), 'Title': 'City Lights', 'Rating': '8.5', 'Vote': '145,812'}
{'_id': ObjectId('5cd3bf3c4f0dbe3527ac3d90'), 'Title': 'Casablanca', 'Rating': '8.5', 'Vote': '473,662'}
{'_id': ObjectId('5cd3bf3c4f0dbe3527ac3d91'), 'Title': 'Once Upon a Time in the West', 'Rating': '8.5', 'Vote': '269,706'}
{'_id': ObjectId('5cd3bf3c4f0dbe3527ac3d92'), 'Title': 'The Pianist', 'Rating': '8.5', 'Vote': '637,826'}
{'_id': ObjectId('5cd3bf3c4f0dbe3527ac3d93'), 'Title': 'Modern Times', 'Rating': '8.5', 'Vote': '188,938'}
{'_id': ObjectId('5cd3bf3c4f0dbe3527ac3d94'), 'Title': 'The Intouchables', 'Rating': '8.5', 'Vote': '670,957'}
{'_id': ObjectId('5cd3bf3c4f0dbe3527ac3d95'), 'Title': 'The Departed', 'Rating': '8.5', 'Vote': '1,069,186'}
{'_id': ObjectId('5cd3bf3d4f0dbe3527ac3d96'), 'Title': 'Back to the Future', 'Rating': '8.5', 'Vote': '928,993'}
{'_id': ObjectId('5cd3bf3d4f0dbe3527ac3d97'), 'Title': 'Terminator 2: Judgment Day', 'Rating': '8.5', 'Vote': '902,197'}
{'_id': ObjectId('5cd3bf3d4f0dbe3527ac3d98'), 'Title': 'Whiplash', 'Rating': '8.5', 'Vote': '610,151'}
{'_id': ObjectId('5cd3bf3d4f0dbe3527ac3d99'), 'Title': 'The Lion King', 'Rating': '8.5', 'Vote': '828,486'}
{'_id': ObjectId('5cd3bf3d4f0dbe3527ac3d9a'), 'Title': 'Rear Window', 'Rating': '8.5', 'Vote': '396,337'}
{'_id': ObjectId('5cd3bf3d4f0dbe3527ac3d9b'), 'Title': 'Raiders of the Lost Ark', 'Rating': '8.5', 'Vote': '807,162'}
{'_id': ObjectId('5cd3bf3d4f0dbe3527ac3d9c'), 'Title': 'Gladiator', 'Rating': '8.5', 'Vote': '1,204,471'}
{'_id': ObjectId('5cd3bf3d4f0dbe3527ac3d9d'), 'Title': 'The Prestige', 'Rating': '8.5', 'Vote': '1,058,354'}
{'_id': ObjectId('5cd3bf3d4f0dbe3527ac3d9e'), 'Title': 'Apocalypse Now', 'Rating': '8.4', 'Vote': '545,115'}
{'_id': ObjectId('5cd3bf3e4f0dbe3527ac3d9f'), 'Title': 'Memento', 'Rating': '8.4', 'Vote': '1,025,769'}
{'_id': ObjectId('5cd3bf3e4f0dbe3527ac3da0'), 'Title': 'Alien', 'Rating': '8.4', 'Vote': '709,445'}
{'_id': ObjectId('5cd3bf3e4f0dbe3527ac3da1'), 'Title': 'Spider-Man: Into the Spider-Verse', 'Rating': '8.4', 'Vote': '193,782'}
{'_id': ObjectId('5cd3bf3e4f0dbe3527ac3da2'), 'Title': 'Grave of the Fireflies', 'Rating': '8.4', 'Vote': '194,593'}
{'_id': ObjectId('5cd3bf3e4f0dbe3527ac3da3'), 'Title': 'Cinema Paradiso', 'Rating': '8.4', 'Vote': '199,836'}
{'_id': ObjectId('5cd3bf3e4f0dbe3527ac3da4'), 'Title': 'The Great Dictator', 'Rating': '8.4', 'Vote': '179,188'}
{'_id': ObjectId('5cd3bf3e4f0dbe3527ac3da5'), 'Title': 'Sunset Blvd.', 'Rating': '8.4', 'Vote': '177,955'}
{'_id': ObjectId('5cd3bf3e4f0dbe3527ac3da6'), 'Title': 'The Lives of Others', 'Rating': '8.4', 'Vote': '320,953'}
{'_id': ObjectId('5cd3bf3e4f0dbe3527ac3da7'), 'Title': 'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb', 'Rating': '8.4', 'Vote': '412,673'}
{'_id': ObjectId('5cd3bf3f4f0dbe3527ac3da8'), 'Title': 'Avengers: Infinity War', 'Rating': '8.4', 'Vote': '648,760'}
{'_id': ObjectId('5cd3bf3f4f0dbe3527ac3da9'), 'Title': 'Paths of Glory', 'Rating': '8.4', 'Vote': '155,293'}
{'_id': ObjectId('5cd3bf3f4f0dbe3527ac3daa'), 'Title': 'Django Unchained', 'Rating': '8.4', 'Vote': '1,202,300'}
{'_id': ObjectId('5cd3bf3f4f0dbe3527ac3dab'), 'Title': 'The Shining', 'Rating': '8.4', 'Vote': '775,742'}
{'_id': ObjectId('5cd3bf3f4f0dbe3527ac3dac'), 'Title': 'WALL·E', 'Rating': '8.4', 'Vote': '900,215'}
{'_id': ObjectId('5cd3bf3f4f0dbe3527ac3dad'), 'Title': 'Princess Mononoke', 'Rating': '8.4', 'Vote': '292,237'}
{'_id': ObjectId('5cd3bf3f4f0dbe3527ac3dae'), 'Title': 'Witness for the Prosecution', 'Rating': '8.4', 'Vote': '91,087'}
{'_id': ObjectId('5cd3bf3f4f0dbe3527ac3daf'), 'Title': 'Oldeuboi', 'Rating': '8.3', 'Vote': '455,706'}
{'_id': ObjectId('5cd3bf3f4f0dbe3527ac3db0'), 'Title': 'Aliens', 'Rating': '8.3', 'Vote': '597,347'}
{'_id': ObjectId('5cd3bf3f4f0dbe3527ac3db1'), 'Title': 'The Dark Knight Rises', 'Rating': '8.3', 'Vote': '1,379,024'}
{'_id': ObjectId('5cd3bf404f0dbe3527ac3db2'), 'Title': 'American Beauty', 'Rating': '8.3', 'Vote': '985,758'}
{'_id': ObjectId('5cd3bf404f0dbe3527ac3db3'), 'Title': 'Once Upon a Time in America', 'Rating': '8.3', 'Vote': '275,539'}
{'_id': ObjectId('5cd3bf404f0dbe3527ac3db4'), 'Title': 'Coco', 'Rating': '8.3', 'Vote': '270,831'}
{'_id': ObjectId('5cd3bf404f0dbe3527ac3db5'), 'Title': 'Das Boot', 'Rating': '8.3', 'Vote': '208,353'}
{'_id': ObjectId('5cd3bf404f0dbe3527ac3db6'), 'Title': 'Citizen Kane', 'Rating': '8.3', 'Vote': '361,613'}
{'_id': ObjectId('5cd3bf404f0dbe3527ac3db7'), 'Title': 'Braveheart', 'Rating': '8.3', 'Vote': '886,944'}
{'_id': ObjectId('5cd3bf404f0dbe3527ac3db8'), 'Title': 'Vertigo', 'Rating': '8.3', 'Vote': '318,375'}
{'_id': ObjectId('5cd3bf404f0dbe3527ac3db9'), 'Title': 'North by Northwest', 'Rating': '8.3', 'Vote': '270,226'}
{'_id': ObjectId('5cd3bf404f0dbe3527ac3dba'), 'Title': 'Reservoir Dogs', 'Rating': '8.3', 'Vote': '818,328'}
{'_id': ObjectId('5cd3bf414f0dbe3527ac3dbb'), 'Title': 'Your Name.', 'Rating': '8.3', 'Vote': '130,960'}
{'_id': ObjectId('5cd3bf414f0dbe3527ac3dbc'), 'Title': 'Star Wars: Episode VI - Return of the Jedi', 'Rating': '8.3', 'Vote': '856,822'}
{'_id': ObjectId('5cd3bf414f0dbe3527ac3dbd'), 'Title': 'M', 'Rating': '8.3', 'Vote': '126,729'}
{'_id': ObjectId('5cd3bf414f0dbe3527ac3dbe'), 'Title': 'Amadeus', 'Rating': '8.3', 'Vote': '334,835'}
{'_id': ObjectId('5cd3bf414f0dbe3527ac3dbf'), 'Title': 'Requiem for a Dream', 'Rating': '8.3', 'Vote': '696,389'}
{'_id': ObjectId('5cd3bf414f0dbe3527ac3dc0'), 'Title': 'Dangal', 'Rating': '8.3', 'Vote': '120,430'}
{'_id': ObjectId('5cd3bf414f0dbe3527ac3dc1'), 'Title': '3 Idiots', 'Rating': '8.3', 'Vote': '297,433'}
{'_id': ObjectId('5cd3bf414f0dbe3527ac3dc2'), 'Title': '2001: A Space Odyssey', 'Rating': '8.3', 'Vote': '539,011'}
{'_id': ObjectId('5cd3bf414f0dbe3527ac3dc3'), 'Title': 'Toy Story', 'Rating': '8.3', 'Vote': '786,948'}
{'_id': ObjectId('5cd3bf424f0dbe3527ac3dc4'), 'Title': 'Taare Zameen Par', 'Rating': '8.3', 'Vote': '140,113'}
{'_id': ObjectId('5cd3bf424f0dbe3527ac3dc5'), 'Title': 'Eternal Sunshine of the Spotless Mind', 'Rating': '8.3', 'Vote': '820,543'}
{'_id': ObjectId('5cd3bf424f0dbe3527ac3dc6'), 'Title': 'Lawrence of Arabia', 'Rating': '8.3', 'Vote': '240,633'}
{'_id': ObjectId('5cd3bf424f0dbe3527ac3dc7'), 'Title': 'A Clockwork Orange', 'Rating': '8.3', 'Vote': '685,043'}
{'_id': ObjectId('5cd3bf424f0dbe3527ac3dc8'), 'Title': "Singin' in the Rain", 'Rating': '8.3', 'Vote': '195,361'}
{'_id': ObjectId('5cd3bf424f0dbe3527ac3dc9'), 'Title': 'Amélie', 'Rating': '8.3', 'Vote': '648,617'}
{'_id': ObjectId('5cd3bf424f0dbe3527ac3dca'), 'Title': 'Double Indemnity', 'Rating': '8.3', 'Vote': '126,872'}
{'_id': ObjectId('5cd3bf424f0dbe3527ac3dcb'), 'Title': 'Inglourious Basterds', 'Rating': '8.3', 'Vote': '1,111,840'}
{'_id': ObjectId('5cd3bf424f0dbe3527ac3dcc'), 'Title': 'Taxi Driver', 'Rating': '8.3', 'Vote': '632,734'}
{'_id': ObjectId('5cd3bf434f0dbe3527ac3dcd'), 'Title': 'Full Metal Jacket', 'Rating': '8.3', 'Vote': '605,750'}
{'_id': ObjectId('5cd3bf434f0dbe3527ac3dce'), 'Title': 'To Kill a Mockingbird', 'Rating': '8.3', 'Vote': '270,300'}
{'_id': ObjectId('5cd3bf434f0dbe3527ac3dcf'), 'Title': 'Bicycle Thieves', 'Rating': '8.3', 'Vote': '126,200'}
{'_id': ObjectId('5cd3bf434f0dbe3527ac3dd0'), 'Title': 'The Kid', 'Rating': '8.3', 'Vote': '95,957'}

In [113]:
test = db.items
test = pandas.DataFrame(list(test.find()))

In [114]:
imdb_df = test[["Title", "Rating", "Vote"]]

In [115]:
imdb_df["Src"] = "imdb"

In [116]:
imdb_df.head()

                      Title Rating       Vote   Src
0  The Shawshank Redemption    9.2  2,085,517  imdb
1             The Godfather    9.2  1,431,146  imdb
2    The Godfather: Part II    9.0    993,902  imdb
3           The Dark Knight    9.0  2,052,032  imdb
4              12 Angry Men    8.9    590,239  imdb

RottenTomatoes_Scrape

In [117]:
url = "https://www.rottentomatoes.com/top/bestofrt/"
html = requests.get(url).text

In [118]:
db = client.rt_db
collection = db.items1

In [119]:
soup = BeautifulSoup(html, "html.parser")

In [120]:
datas = soup.find_all("table", "table")

In [121]:
#str(data.find_all("a", class_ = "unstyled articleLink")[x].text.strip()).split("(")[0]

In [122]:
#str(datas[0].find_all("a", class_ = "unstyled articleLink")[x].text.strip()).split("(")[1][:4]

In [123]:
for data in datas:
    for x in range(100):
        title=str(data.find_all("a", class_ = "unstyled articleLink")[x].text.strip()).split("(")[0]
        rating=data.find_all("span", class_="tMeterScore")[x].text
        vote=data.find_all("td", class_="right hidden-xs")[x].text
        year=str(datas[0].find_all("a", class_ = "unstyled articleLink")[x].text.strip()).split("(")[1][:4]
        print(title, rating, vote, year)
        RT_data = {"Title": title, "Rating": rating, "Vote": vote, "Year": year}
        collection.insert_one(RT_data)

Black Panther   97% 464 2018
Lady Bird   99% 361 2017
The Wizard of Oz   98% 111 1939
Citizen Kane   100% 80 1941
BlacKkKlansman   96% 394 2018
Get Out   98% 349 2017
Mad Max: Fury Road   97% 402 2015
The Third Man   99% 78 1949
Moonlight   98% 353 2016
Inside Out   98% 353 2015
Wonder Woman   93% 425 2017
Eighth Grade   99% 278 2018
The Cabinet of Dr. Caligari   100% 50 Das
Metropolis   99% 122 1927
All About Eve   100% 66 1950
It Happened One Night   98% 56 1934
E.T. The Extra-Terrestrial   98% 125 1982
Coco   97% 320 2017
Dunkirk   92% 427 2017
A Quiet Place   95% 348 2018
Spotlight   97% 353 2015
Selma   99% 296 2015
Casablanca   97% 79 1942
Modern Times   100% 54 1936
The Godfather   98% 90 1972
Star Wars: The Last Jedi   91% 435 2017
The Big Sick   98% 280 2017
Arrival   94% 399 2016
Paddington 2   100% 228 2018
La Grande illusion   97% 66 Gran
Thor: Ragnarok   93% 387 2017
The Shape of Water   92% 407 2017
Logan   93% 384 2017
Call Me by Your Name   95% 327 2018
Incredibles 2   94% 346 2018
Psycho   97% 90 1960
Singin' in the Rain   100% 50 1952
Leave No Trace   100% 215 2018
Laura   100% 60 1944
Gravity   96% 339 2013
Boyhood   97% 304 2014
A Hard Day's Night   98% 106 1964
The Maltese Falcon   100% 53 1941
Argo   96% 344 2012
12 Years a Slave   95% 352 2013
Manchester by the Sea   96% 325 2016
The Adventures of Robin Hood   100% 46 1938
Snow White and the Seven Dwarfs   98% 48 1937
King Kong   98% 56 1933
Nosferatu, a Symphony of Horror   97% 62 Nosf
Sunset Boulevard   98% 62 1950
Repulsion   100% 60 1965
North by Northwest   99% 73 1959
Baby Driver   93% 352 2017
The Bride of Frankenstein   100% 43 1935
The Battle of Algiers   98% 85 La B
The Florida Project   96% 285 2017
Rear Window   100% 64 1954
Star Wars: Episode VII - The Force Awakens   92% 412 2015
Alien   97% 115 1979
La La Land   91% 422 2016
Bicycle Thieves   98% 58 Ladr
Spider-Man: Homecoming   92% 363 2017
The Philadelphia Story   100% 57 1940
Won't You Be My Neighbor?   98% 223 2018
Touch of Evil   96% 76 1958
Zootopia   97% 275 2016
Toy Story 2   100% 165 1999
Up   98% 291 2009
Seven Samurai   100% 59 Shic
M   100% 51 1931
All Quiet on the Western Front   100% 43 1930
War for the Planet of the Apes   93% 331 2017
Taxi Driver   98% 82 1976
Hell or High Water   97% 265 2016
The Jungle Book   95% 312 2016
Toy Story 3   98% 302 2010
The Treasure of the Sierra Madre   100% 46 1948
Rebecca   100% 53 1940
The 400 Blows   100% 57 Les
Vertigo   96% 72 1958
Lawrence of Arabia   98% 82 1962
Brooklyn   97% 263 2015
The Babadook   98% 228 2014
12 Angry Men   100% 50 Twel
The Dark Knight   94% 332 2008
Finding Nemo   99% 263 2003
The Night of the Hunter   98% 65 1955
A Streetcar Named Desire   98% 55 1951
Army of Shadows   97% 73 L'Ar
Captain America: Civil War   91% 392 2016
Rosemary's Baby   99% 69 1968
Frankenstein   100% 46 1931
Finding Dory   94% 317 2016
The Wrestler   98% 225 2008
The Big Sleep   97% 60 1946
Three Billboards Outside Ebbing, Missouri   90% 374 2017
Dr. Strangelove Or How I Learned to Stop Worrying and Love the Bomb   98% 81 1964
The Death of Stalin   96% 234 2018
Harry Potter and the Deathly Hallows - Part 2   96% 324 2011

In [124]:
RT1 = db.items1
rt_df = pandas.DataFrame(list(RT1.find()))

In [126]:
rt_df = rt_df[["Title", "Rating", "Vote", "Year"]]
rt_df.head()

               Title Rating Vote  Year
0     Black Panther     97%  464  2018
1         Lady Bird     99%  361  2017
2  The Wizard of Oz     98%  111  1939
3      Citizen Kane    100%   80  1941
4    BlacKkKlansman     96%  394  2018